# created by virtualenv automatically
*
/.
/Scripts/sqlformat.exe
/lr5/accounts/migrations/
/pyvenv.cfg
/Scripts/pip-3.10.exe
/lr5/static/
/lr5/templates/registration/
/lr5/static/css/
/Scripts/activate.bat
/Scripts/wheel3.10.exe
/lr5/posts/apps.py
/.gitignore
/lr5/posts/
/lr5/templates/
/Scripts/wheel3.exe
/lr5/templates/signup.html
/Scripts/wheel-3.10.exe
/lr5/posts/admin.py
/lr5/lr5/__init__.py
/lr5/templates/post_edit.html
/Scripts/activate.fish
/lr5/__init__.py
/lr5/accounts/
/Scripts/django-admin.exe
/Scripts/activate
/Scripts/pythonw.exe
/Scripts/pip3.10.exe
/lr5/accounts/__init__.py
/Scripts/activate.nu
/lr5/
/lr5/posts/migrations/
/Scripts/pip.exe
/Scripts/wheel.exe
/Scripts/deactivate.bat
/lr5/db.sqlite3
/lr5/accounts/urls.py
/lr5/posts/models.py
/lr5/lr5/settings.py
/lr5/templates/post_new.html
/lr5/templates/home.html
/Scripts/pydoc.bat
/lr5/accounts/apps.py
/lr5/templates/base.html
/lr5/templates/post_detail.html
/lr5/manage.py
/lr5/lr5/wsgi.py
/Scripts/deactivate.nu
/lr5/templates/post_delete.html
/Scripts/python.exe
/lr5/lr5/asgi.py
/lr5/static/css/__init__.py
/lr5/lr5/urls.py
/Scripts/
/lr5/posts/__init__.py
/lr5/accounts/admin.py
/Scripts/activate.ps1
/lr5/static/__init__.py
/Lib/
/lr5/static/css/base.css
/lr5/posts/tests.py
/lr5/posts/views.py
/Scripts/activate_this.py
/lr5/accounts/views.py
/lr5/lr5/
/lr5/posts/urls.py
/Scripts/pip3.exe
/lr5/accounts/tests.py
/lr5/accounts/models.py
/lr5/templates/__init__.py
